*{
    box-sizing: border-box;
    margin: 0;
}
/* Header */
header div ul{
    list-style: none;
    display:flex;
    justify-content: end;
}
header>ul{
    list-style: none;
    display:flex;
    justify-content: space-between;
    background-color: #779882;
}

/* Hero section */
#hero{
    background-color: #779882;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tilmelding{
    background-color: #F3F4EF;
    display: flex;
}
aside{
    width: 50%;
    height: 200px;
    background-color: aliceblue;
}



img{
    width: 100svw;
}